/* signup page */
body {
  background-color: lightblue;
  display: flex;
  flex-direction: column;
  font-size: 1.25rem;
  font-family: Roboto;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

header .container {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header .container img:hover {
  cursor: pointer;
}

header .container #logo {
  flex: 1;
  align-self: center;
  max-width: 100px;
  height: auto;
}

header .container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
}

header .container button {
  width: 5rem;
  height: 2rem;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

header .container li {
  display: inline;
  padding: 0 1vw 0 1vw;
  border-bottom-style: solid;
  padding-bottom: 3vh;
  border-bottom-color: white;
}

header .container li:hover {
  cursor: pointer;
  border-bottom-color: lightblue;
}

a {
  color: black;
  text-decoration: none;
}

input {
  margin: 0;
  padding: 0;
}

.signup {
  margin: 0;
  padding: 0;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.signup h1 {
  margin-bottom: 40px;
}

/* form-box */
.signup #main-box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  max-width: 800px;
}

.signup #main-box #logout {
  display: none;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 8rem;
  height: 3rem;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

.signup #main-box #form-box {
  padding: 50px;
  background: rgba(255, 255, 255, 0.25);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  flex-grow: 1;
  flex-basis: 50%;
}

.signup #main-box #form-box .input-box {
  width: 95%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #fff;
  outline: none;
}

.signup #main-box #form-box label {
  font-weight: bold;
}

.signup #main-box #form-box input[type="checkbox"] {
  margin-top: 30px;
}

.signup #main-box #form-box button {
  width: 100%;
  padding: 10px;
  border: 0;
  outline: none;
  margin-top: 20px;
  cursor: pointer;
  transition: background 0.5s;
}

.signup #main-box #form-box button:hover {
  background: #000;
  color: white;
}

.signup #main-box .social-box {
  padding: 50px;
  flex-grow: 1;
  flex-basis: 50%;
  background-color: black;
}

.error-message {
  margin: 0;
  padding: 0;
}

/*footer*/
footer {
  color: white;

  margin-top: auto;
  background-color: hsl(233, 26%, 24%);
}
footer .allOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer .allOptions .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
}

footer .allOptions .options {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}

footer .allOptions .options ul {
  list-style: none;
  display: flex;
  gap: 2.5vw;
}

footer .allOptions .logos img:hover {
  filter: invert(67%) sepia(23%) saturate(3718%) hue-rotate(72deg)
    brightness(99%) contrast(83%);
}

footer .allOptions #credits p {
  font-size: 0.8rem;
}

@media all and (max-width: 550px) {
  body {
    font-size: smaller;
  }
  header .container {
    justify-content: center;
    gap: 1rem;
  }

  header .container ul {
    font-size: 1rem;
    gap: 1vw;
    margin-top: 25px;
  }

  header .container #logo {
    height: auto;
    max-width: 50px;
  }

  footer .allOptions {
    font-size: 1rem;
    color: white;
  }

  footer .allOptions #credits p {
    text-align: center;
  }
}
