/*global*/
* {
  box-sizing: border-box;
}
body {
  font-size: 1.5rem;
  padding: 0;
  margin: 0;
  background-color: lightblue;
  display: flex;
  flex-direction: column;
}

/* header */
header .container {
  background-color: white;
  display: flex;
  align-items: center;
}

header .container img:hover {
  cursor: pointer;
}

header .container #logo {
  flex: 1;
  align-self: center;
  max-width: 100px;
  height: auto;
}

header .container .bag {
  height: 3vh;
  margin-right: 1vw;
}

header .container ul {
  margin: 0;
  padding: 0;
  display: flex;
  flex: 2;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  gap: 3vw;
}

header .container button {
  width: 10rem;
  height: 4rem;
  background-color: #08aeea;
  background-image: linear-gradient(0deg, #08aeea 0%, #2af598 100%);
}

header .container li {
  display: inline;
  padding: 0 1vw 0 1vw;
  border-bottom-style: solid;
  padding-bottom: 3vh;
  border-bottom-color: white;
}

header .container li:hover {
  cursor: pointer;
  border-bottom-color: lightblue;
}

/*article*/
article {
  display: flex;
  flex-direction: column;
  gap: 2vw;
}

article .mobile {
  display: none;
}

article .upperContent {
  padding: 0;
  margin: 0;
  text-align: center;
}

article .upperContent #categories div {
  color: blue;
}

article .upperContent #categories div:hover {
  color: white;
}

article .upperContent #shop {
  font-weight: bold;
  font-size: 3rem;
}

article .cards {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  margin-bottom: 2.5vh;
}

article .singleCard {
  display: none;
  width: 100%;
  height: 100%;
}

article .singleCard .card {
  display: flex;
  width: 100%;
  align-items: center;
}

article .singleCard .card .product {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

article .singleCard .card .product img {
  width: 60%;
  height: 80%;
  min-height: 325px;
  max-height: 650px;
  min-width: 500px;
}

article .singleCard .card .details {
  flex: 1;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

article .singleCard .card .details .name {
  font-weight: bold;
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

article .singleCard .card .details .price {
  font-weight: bold;
  font-size: 2rem;
  margin-bottom: 1rem;
}

article .singleCard .card .details .description {
  margin-bottom: 1rem;
}

article .singleCard .card .details button {
  align-self: center;
}

article .cards .card {
  display: flex;
  flex-direction: column;
  margin-bottom: 2vh;
  max-width: 400px;
  max-height: 800px;
}

article .cards .card:hover {
  color: blueviolet;

  scale: 1.05;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
    rgba(0, 0, 0, 0.22) 0px 15px 12px;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
}

article .cards .card .product {
  max-width: 400px;
  height: 450px;
}

article .cards .card .product:hover {
  cursor: pointer;
}
article .cards .card .product img {
  width: 100%;
  height: 100%;
}

article .cards .card .options {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
  width: 100%;
}

article .preload {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

article .preload .emoji {
  font-size: 5rem;
}

article .cards .card .options .bag {
  height: 2vh;
}

article .cards .card .options .bag:hover {
  cursor: pointer;
}

article .cards .card .options .zoom {
  height: 3vh;
}

article .cards .card .options .zoom:hover {
  cursor: pointer;
}

article .cards .card .details {
  background-color: white;
  border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem;
  width: 100%;
  padding: 0;
  text-align: center;
}

article i {
  color: gold;
}

.back i {
  margin-left: 5%;
  display: none;
  color: black;
  font-size: 4rem;
}

.back i:hover {
  cursor: pointer;
}

article .cards .card .details .name {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  height: 55px;
}

article .cards .card .details .description {
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow-y: hidden;
  overflow-x: hidden;
  font-size: 1.2rem;
  padding: 0 10px 0 10px;
}

article .cards .card .details .category {
  padding: 0;
  margin: 0;
}

/*footer*/
footer {
  color: white;
  margin-top: auto;
  background-color: hsl(233, 26%, 24%);
}
footer .allOptions {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

footer .allOptions .logos {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 2vw;
}

footer .allOptions .options {
  display: flex;
  flex-wrap: wrap;
  gap: 4vw;
}

footer .allOptions .options ul {
  list-style: none;
  display: flex;
  gap: 2.5vw;
}

footer .allOptions .logos img:hover {
  filter: invert(67%) sepia(23%) saturate(3718%) hue-rotate(72deg)
    brightness(99%) contrast(83%);
}

footer .allOptions #credits p {
  font-size: 0.8rem;
}

@media all and (max-width: 550px) {
  body {
    font-size: smaller;
  }
  header .container {
    justify-content: center;
    gap: 1rem;
  }

  header .container ul {
    font-size: 1rem;
    gap: 1vw;
    margin-top: 25px;
  }

  header .container #logo {
    height: auto;
    max-width: 50px;
  }
  header .container button {
    margin-bottom: 20px;
    width: fit-content;
    height: fit-content;
  }

  article .upperContent {
    display: none;
  }

  article .singleCard .card {
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  article .singleCard .card .product {
    min-width: 80vw;
    max-width: 80vw;
    background-color: white;
    border-radius: 10px;
  }

  article .singleCard .card .product img {
    min-width: 60%;
    min-height: 55%;
  }

  article .singleCard .card .details {
    font-size: 1rem;
    background-color: white;
    margin: 10px 20px 20px 20px;
    padding: 20px;
    max-width: 80vw;
    border-radius: 10px;
  }

  article .singleCard .card .details .name,
  article .singleCard .card .details .price {
    font-size: 1.5rem;
  }

  article .cards .card {
    max-width: 80vw;
    margin-bottom: 25px;
  }

  article .cards .card .product {
    height: 300px;
    min-width: 80vw;
    background-color: white;
    display: flex;
    justify-content: center;
  }

  article .cards .card .details {
    padding-top: 20px;
  }

  article .cards .card .details .name,
  article .cards .card .details .price {
    height: auto;
    font-size: 1.5rem;
  }

  article .cards .card .product img {
    /* height: 100%; */
    width: auto;
    max-width: 100%;
    /* margin-left: auto; */
  }

  footer .allOptions {
    font-size: 1.5rem;
  }
}
